* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    letter-spacing: .5px;
}

.nav-wrap {
    width: 1000px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}



.logo {
    font-size: 20px;
    color: white;
    background-color: black;
    font-weight: 150%;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.logo:hover,
.logo:active {
  transition: .5s;
  color: black;
  background-color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover,
nav a:active {
  transition: 0.3s;
  color: rgb(226, 226, 226);
}

/* text section */

.col-wrap {
    /* using flex box to split into 3 cols */
   display: flex;
   height: 100vh;
}

.col-wrap section {
    display: flex;
    align-items: center;
}

.text {
    /* flex = size of colu */
    flex: 1;
    background-color: rgb(226, 226, 226);
    flex-direction: column;
    justify-content: center;

}

.text h1 {
    font-size: 50px;
    text-transform: capitalize;
}

.text p {
    width: 400px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1.5px;
    margin-top: 70px;
    margin-bottom: 60px;

}

.image-sec {
    flex: 1.5;
    background-image: url('ocean.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: center;
}

.side-bar {
    width: 115px;
    display: flex;
    flex-direction: column;
}

.detail-btn {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    cursor: pointer;   
}

.detail-btn:link,
.detail-btn:visited {
  
}

.detail-btn:hover,
.detail-btn:active {
  transition: 0.3s;
  color: white;
}
/* this is how you make a hamburger (top right) */

.hamburger {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.hamburger div {
    height: 3px;
    width: 40%;
    background-color: black;
    margin-bottom: 10px;
}

/* --------------------- */

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    margin-top: 250px;
}

.social a {
    
    text-decoration: none;
    transform: rotate(90deg);
    color: black;
}

.social a:hover,
.social a:active {
  transition: 0.3s;
  color: rgb(226, 226, 226);
}




